body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: $background-color;
}

.board {
  display: flex;
  flex-wrap: wrap;

  height: $board-size;
  width: $board-size;

  background-color: $board-background;
  @include card(3);
}

.tile {
  height: $board-size / 3;
  width: $board-size / 3; 
}

.tile:hover {
  cursor: pointer;
  background-color: red;
}